{% extends "base.html" %}

{% block title %}Reset password{% endblock %}

{% block content %}
    <div class="auth-forms">
        <h1>Восстановление пароля</h1>
        {% if validlink %}
            <form action="." method="post" novalidate>
                {{ form.as_p }}
                {% csrf_token %}
                <div><button type="submit" class="button">Изменить пароль</button></div>
            </form>
        {% else %}
            <p>Ссылка на восстановление пароля не верная, возможно пароль уже был восстановлен.</p>
        {% endif %}
    </div>
{% endblock %}
